# Dependências
node_modules/
.next/
dist/
out/

# Arquivos de ambiente
.env*
!.env.example

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
ehthumbs.db